<ion-view view-title="About">
    <ion-nav-buttons side="right" ng-hide="buttonHidden">
        <button class="button button-clear ion-ios-arrow-back" ng-click="gotoHome()">
            Back
        </button>
    </ion-nav-buttons>
    <ion-content>

    	<div class="row" style="margin-top: 15%">
			<div class="col"></div>
			<div class="col col-75" style="text-align: center"><h1>Shuffle</h1></div>
  			<div class="col"></div>
		</div>

		<div class="row" style="margin-top: 15%">
			<div class="col"></div>
			<div class="col col-75" style="text-align: center"><p> Shuffle is a music suggestion app developed through the ionic framework </p>
			</div>
  			<div class="col"></div>
		</div>

		<div class="row" style="margin-top: 15%">
			<div class="col"></div>
			<div class="col col-75" style="text-align: center"><p> Something about spotify</p>
			</div>
  			<div class="col"></div>
		</div>


		<div class="row" style="margin-top: 15%">
			<div class="col"></div>
			<div class="col col-75" style="text-align: center"><p> &copy BME 2015</p>
			</div>
  			<div class="col"></div>
		</div>

    </ion-content>
</ion-view>
