<ion-view view-title="About">
	<ion-nav-buttons side="right" ng-hide="buttonHidden">
		<button class="button button-clear ion-ios-arrow-back" ng-click="gotoHome()">
			Back
		</button>
	</ion-nav-buttons>
	<ion-content>

		<div class="row" style="margin-top: 15%">
			<div class="col"></div>
			<div class="col col-75" style="text-align: center">
				<img ng-src="img/logos/Logo-06.svg" style="width: 60%; border-radius:100%" />
			</div>
			<div class="col"></div>
		</div>

		<div class="row" style="margin-top: 15%">
			<div class="col"></div>
			<div class="col col-75" style="text-align: center"><p> Shuffle is a music suggestion app developed through the ionic framework </p>
			</div>
			<div class="col"></div>
		</div>

		<div class="row" style="margin-top: 15%">
			<div class="col"></div>
			<div class="col col-75" style="text-align: center"><p> Browse the best playlists depending on your mood, routines and weather! Don't waste time searching, shuffle!</p>
			</div>
			<div class="col"></div>
		</div>


		<div class="row" style="margin-top: 10%">
			<div class="col"></div>
			<div class="col col-75" style="text-align: center"><p> &copy BME 2015</p>
			</div>
			<div class="col"></div>
		</div>

	</ion-content>
</ion-view>
