<ion-view view-title="Intro" hide-nav-bar="true">
    <ion-content class="login-page">

    	
   		
   		<div class="row"style="margin-top: 40%; text-align: center;">
   			<div class="col"></div>
			<div class="col col-80">
				<button class="button button-bordeaux" ng-click="facebookLogin()" style="text-align: center; margin-top: 75%">
		        	Enter with facebook
		        </button>
				<button class="button button-bordeaux" ng-click="enter()" style="text-align: center; margin-top: 75%">
					Enter anyway
				</button>
			</div>
			<div class="col"></div>
		</div>

   		<div style="text-align: center; margin-top: 25% ">
   			<img ng-src="img/logos/BME_logo.png" style="width:40%">
   		</div>
        
    </ion-content>
</ion-view>
