<ion-view view-title="Mood" hide-nav-bar="true">
    <ion-content>

    	<div style="text-align: center; margin-top: 15%;">
    		<img ng-src="img/logos/app_logo.png" style="width:30%">
    	</div>
   		
   		<div class="row"style="margin-top: 40%; text-align: center;">
   			<div class="col"></div>
			<div class="col col-80">
				<button class="button button-positive" ng-click="enter()" style="text-align: center">
		        	Enter with facebook
		        </button>			
			</div>
			<div class="col"></div>
		</div>

   		<div style="text-align: center; margin-top: 30% ">
   			<img ng-src="img/logos/BME_logo.png" style="width:40%">
   		</div>
        
    </ion-content>
</ion-view>
