<ion-view view-title="Settings">
    <ion-nav-buttons side="right" ng-hide="buttonHidden">
        <button class="button button-clear ion-ios-arrow-back" ng-click="gotoHome()">
            Back
        </button>
    </ion-nav-buttons>
    <ion-content>
        
        <div class="row" style="margin-top: 10%">
          <div class="col col-25"></div>
          <div class="col col-50">
            <img ng-src="img/profile.png" style="width: 100%; border-radius:100%"/>
          </div> 
          <div class="col col-25"></div>
        </div>

        <div class="row" style="margin-top: 3%">
            <div class="col"> 
            <h4 style="text-align: center"> Yasmin Something </h4>
            </div>
        </div>

        <div class="row" style="margin-top: 20%">
            <div class="col" style="text-align: center;">
                <button class="button button-light"> log out </button>
            </div>
        </div>


        <div class="row" style="margin-top: 20%">
            <div class="col" style="text-align: center;">
                <button class="button button-clear"> about </button>
            </div>
        </div>

    </ion-content>
</ion-view>
