<ion-view view-title="Weather">
  <ion-nav-buttons side="right" ng-hide="buttonHidden">
    <button class="button button-clear ion-ios-gear" ng-click="gotoSettings()">
    </button>
  </ion-nav-buttons>
  <ion-content style="text-align: center">

  	<div class="row" style="margin-top: 20%">
  		<div class="col col-15"></div>
		<img ng-src="img/weather/sunny.png" style="width:50%; height: 0%">
		<div class="col col-15"></div>
	</div>


	<div class="row" style="margin-top: 20%">
	  <div class="col col-15"></div>
	  <div class="col col-80"> 
	  	<h3> {{weather}}</h3>
	  </div>
	  <div class="col col-15"></div>
	</div>

	<div class="row" style="margin-top: 0%">
	  <div class="col col-15"></div>
	  <div class="col col-80"> 
	  	<h3> in Budapest, Hungary</h3>
	  </div>
	  <div class="col col-15"></div>
	</div>


	<div class="row" style="margin-top: 10%;">
		<div class="col col-15"></div>
		<div class="col col-70">
			<button class="button button-dark">
			  Start Playlist
			</button>
		</div>
		<div class="col col-15"></div>
	</div>

  </ion-content>	
</ion-view>

