<ion-view view-title="Mood">
  <ion-nav-buttons side="right" ng-hide="buttonHidden">
    <button class="button button-clear ion-ios-gear" ng-click="gotoSettings()">
    </button>
  </ion-nav-buttons>
  <ion-content >



    <div class="row">
      <div class="col col-33">
      </div>

      <div id="calm" class="col col-33" >
        <p>
      </div>

      <div class="col col-33">
      </div>

    </div>

    <div class="row">
      <div id="happy" class="col col-33">
        <img src="img/moods/happy.svg" style="width:100%" ng-click="gotoPlaylist('happy')">
      </div>

      <div id="calm" class="col col-33" >
        <img src="img/moods/calm.svg" style="width:100%" ng-click="gotoPlaylist('calm')">
      </div>

      <div id="angry"class="col col-33">
        <img src="img/moods/angry.svg" style="width:100%" ng-click="gotoPlaylist('angry')">
      </div>
    </div>

    <div class="row">
      <div id="sad" class="col col-33" >
        <img src="img/moods/sad.svg" style="width:100%" ng-click="gotoPlaylist('sad')">
      </div>

      <div id="melancholic" class="col col-33" >
        <img src="img/moods/melancholic.svg" style="width:100%" ng-click="gotoPlaylist('melancholic')">
      </div>

      <div id="psyched" class="col col-33">
        <img src="img/moods/psyched.svg" style="width:100%" ng-click="gotoPlaylist('psyched')">
      </div>
    </div> 

    <div class="row">
      <div id="creative" class="col col-33" >
        <img src="img/moods/creative.svg" style="width:100%" ng-click="gotoPlaylist('creative')">
      </div>

      <div id="tired"class="col col-33" >
        <img src="img/moods/tired.svg" style="width:100%" ng-click="gotoPlaylist('tired')">
      </div>

      <div id="energized" class="col col-33">
        <img src="img/moods/energized.svg" style="width:100%" ng-click="gotoPlaylist('energized')">
      </div>
    </div>

    <div id="peaceful" class="row">
      <div class="col col-33" >
        <img src="img/moods/peaceful.svg" style="width:100%" ng-click="gotoPlaylist('peaceful')">
      </div>

      <div id="groovy" class="col col-33" >
        <img src="img/moods/groovy.svg" style="width:100%" ng-click="gotoPlaylist('groovy')">
      </div>

      <div id="zen" class="col col-33">
        <img src="img/moods/sleepy.svg" style="width:100%" ng-click="gotoPlaylist('zen')">
      </div>
    </div>

    </div>
  </ion-content>
</ion-view>
