<ion-view view-title="Mood">
  <ion-nav-buttons side="right" ng-hide="buttonHidden">
    <button class="button button-clear ion-ios-gear" ng-click="gotoSettings()">
    </button>
  </ion-nav-buttons>
  <ion-content >


    <div class="row">
      <div id="happy" class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>
    </div>

    <div class="row">
      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>
    </div>

    <div class="row">
      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>
    </div>

    <div class="row">
      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>
    </div>

    <div class="row">
      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>
    </div>
  </ion-content>
</ion-view>
