<ion-view view-title="Routines">
    <ion-nav-buttons side="right" ng-hide="buttonHidden">
        <button class="button button-clear ion-ios-gear" ng-click="gotoSettings()">
        </button>
    </ion-nav-buttons>
    <ion-content>


    <div class="row">
      <div id="morning" class="col col-33">
        <img src="img/routines/morning.png" style="width:100%" ng-click="gotoPlaylist('morning')">
      </div>

      <div id="work" class="col col-33" >
        <img src="img/routines/work.png" style="width:100%" ng-click="gotoPlaylist('work')">
      </div>

      <div id="study" class="col col-33">
        <img src="img/routines/study.png" style="width:100%" ng-click="gotoPlaylist('study')">
      </div>
    </div>

    <div class="row">
      <div id="workout" class="col col-33" >
        <img src="img/routines/workout.png" style="width:100%" ng-click="gotoPlaylist('workout')">
      </div>

      <div  id="chill" class="col col-33" >
        <img src="img/routines/chill.png" style="width:100%" ng-click="gotoPlaylist('chill')">
      </div>

      <div id="break" class="col col-33">
        <img src="img/routines/break.png" style="width:100%" ng-click="gotoPlaylist('break')">
      </div>
    </div>

    <div id="dinner" class="row">
      <div class="col col-33" >
        <img src="img/routines/dinner.png" style="width:100%" ng-click="gotoPlaylist('dinner')">
      </div>

      <div id="party"class="col col-33" >
        <img src="img/routines/party.png" style="width:100%" ng-click="gotoPlaylist('party')">
      </div>

      <div id="sleep" class="col col-33">
        <img src="img/routines/sleep.png" style="width:100%" ng-click="gotoPlaylist('sleep')">
      </div>
    </div>


  </ion-content>
</ion-view>
