<ion-view view-title="Weather">
  <ion-nav-buttons side="right" ng-hide="buttonHidden">
    <button class="button button-clear ion-ios-gear" ng-click="gotoSettings()">
    </button>
  </ion-nav-buttons>
  <ion-content style="text-align: center">
  	<div class="row" style="margin-top: 27%">
	  <div class="col col-50"> 
	  	<button class="button button-clear ion-ios-sunny-outline weather-btn" ng-click="" style="font-size: 90px;">
	  		<p style="font-size: 30px;">Sunny</p>
	  	</button>
 	  </div>
 	  <div class="col col-50"> 
	  	<button class="button button-clear ion-ios-cloudy-outline" ng-click="" style="font-size: 90px;">
	  		<p style="font-size: 30px;">Cloudy</p>
	  	</button>
 	  </div> 
	</div>

	<div class="row" style="margin-top: 35%">
	  <div class="col col-50"> 
	  	<button class="button button-clear ion-ios-rainy-outline" ng-click="" style="font-size: 90px;">
	  		<p style="font-size: 30px;">Rainy</p>
	  	</button>
 	  </div>
 	  <div class="col col-50"> 
	  	<button class="button button-clear ion-ios-thunderstorm-outline" ng-click="" style="font-size: 90px">
	  		<p style="font-size: 30px;">Stormy</p>
	  	</button>
 	  </div> 
	</div>
  </ion-content>
</ion-view>

