<ion-view view-title="Mood">
  <ion-nav-buttons side="right" ng-hide="buttonHidden">
    <button class="button button-clear ion-ios-gear" ng-click="gotoSettings()">
    </button>
  </ion-nav-buttons>
  <ion-content >

    <div class="row">
      <div id="happy" class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>

      <div class="col col-33" >
        <img id="calm" src="img/square.png" style="width:100%">
      </div>

      <div id="angry"class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>
    </div>

    <div id="sad" class="row">
      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div id="melancholic" class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div id="psyched" class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>
    </div>

    <div id="creative" class="row">
      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div id="tired"class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div id="energized" class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>
    </div>

    <div id="peaceful" class="row">
      <div class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div id="groovy" class="col col-33" >
        <img src="img/square.png" style="width:100%">
      </div>

      <div id="zen" class="col col-33">
        <img src="img/square.png" style="width:100%">
      </div>
    </div>

    </div>
  </ion-content>
</ion-view>
